body {
    font-family: Arial, sans-serif;
    background: #000000;
    background: #672386;
    color: #000000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: above;
    height: 100vh;
}

h1{
    color:00ff99;
}

form {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

.positivo {
    color: #00ff99;
}

.negativo {
    color: #ff5555;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 5px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
}


button {
    margin-top: 15px;
    align-items: center;
    width: 100%;
    background-color: #2a33b6;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #520d94;
}


#resultado, #simulacion {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(230, 223, 223, 0.493);
    text-align: center;
    width: 270px;
}

.positivo {
    color: #04ee2b;
}

.negativo {
    color: #d40909;
}

footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    width: 100%;
    color: #f1f1f1;
    font-size: 16px;
}

.Fch {
  display: flex;            
  justify-content: center;   
  align-items: center;       
  gap: 20px;                 
  margin-top: 40px;
}

